/*
==================================================
DASHBOARD CARDS
==================================================
*/

.dashboard-card {

    cursor: pointer;

    transition: all 0.25s ease;
}

.dashboard-card:hover {

    transform: translateY(-4px);

    box-shadow:
        0 8px 20px
        rgba(0,0,0,.12);
}