{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Ecommerce
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{% static 'css/semantic.min.css' %}">

    {% block extra_css %}
    {% endblock %}

</head>

<body>

    <!-- Vue Application -->

    <div id="app">

        {% block content %}
        {% endblock %}

    </div>

    <script src="{% static 'js/vue.global.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

</body>

</html>